@import "tailwindcss";

@layer base {
  body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    overflow: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #181825;
}
::-webkit-scrollbar-thumb {
  background-color: #45475a;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #585b70;
}
